html {
  --background: #fefefe;
  --dark-background: #efefef;
  --extra-dark-background: #898989;
  --primary-color: #0a84ff;
  --secondary-color: #6c7685;

  --placeholder-color: #262826;
  --text-color: #2b2828;

  --light-green: #509d29;

  --black: #111113;
  --light-black: #121214;

  --light-gray: #47474a;
  --gray: #4f525b;
  --dark-gray: #151517;

  --dark-yellow: #f7b500;


  --very-light-pink: #f2f2f2;
  --dark-indigo: #2e0f53;

  --alert: #de0b0b

}