.grid {
  display: grid;
  grid-gap: 10px;

  &.gg-15 {
    grid-gap: 15px;
  }

  &.gg-20 {
    grid-gap: 20px;
  }

  &.gg-horizon {
    grid-auto-flow: column;
  }

  &.gg-vertical {
    grid-auto-flow: row;
  }
}
